@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,700&family=Lobster&family=Nunito:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply scroll-smooth;
    }
    body{
        @apply text-whitecolor bg-primarycolor tracking-wider font-dmsans dark:bg-blackcolor overflow-x-hidden w-screen;
    }
    body img{
        @apply select-none;
    }
    section{
        @apply pt-16 pb-4 md:pt-20;
    }
}

@layer components{
    .btn{
        @apply inline-block text-sm capitalize px-8 py-3 text-center cursor-pointer rounded-md ease-linear duration-200;
    }
    .btn-primary{
        @apply text-blackcolor bg-secondarycolor hover:opacity-75;
    }
}

@layer utilities{
    .home__title,
    .card__title,
    .section__title{
       @apply text-4xl font-bold font-oswald uppercase lg:text-6xl; 
    }
    .section__title{
        @apply text-3xl;
    }
    .card__title{
        @apply text-xl;
    }
    .saparator{
        @apply w-28 h-[2px] bg-secondarycolor my-5;
    }
    .paragraph{
        @apply text-paragraphColor text-xs leading-5;
    }
}

.tabs_wrap ul li:hover,
.tabs_wrap ul li.active{
    @apply text-black bg-secondarycolor;
}

@keyframes UD{
    0%{
        margin-top: 20px;
        opacity: 0;
    }
    50%{
        margin-top: 10px;
        opacity: 0.4;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

#home .home__content .home__title::selection{
    background-color: #FFCC00;
    color: black;
}

.activee{
    color: #FFCC00;
}